<%= form_for [@answerable, Answer.new], remote: true do |f| %>
  <div class="form-group" id="new_answer">
    <%= f.label :an_answer %>
    <%= f.text_field :an_answer %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>

